<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="counterCatch" type="CounterCatch.Configurations.CounterCatchSection, CounterCatch.Console"/>
  </configSections>

  <counterCatch>
    <counters>
      <add id="CPU" category="Processor Information" name="% Processor Time" instance="_Total" hostGroup="local"/>
      <add id="Disk" category="LogicalDisk" name="Disk Reads/sec" instance="_Total" hostGroup="local"/>
    </counters>

    <hostGroups>
      <add id="local">
        <hosts>
          <add name="localhost" />
        </hosts>
      </add>
    </hostGroups>
  </counterCatch>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
